.App {
    text-align: center;
}

.App-title {
    font-size: 2.6em;
}

.App-intro {
    font-size: large;
}

.better-table-container {
    margin-top: 4rem;
}

input {
    text-align: center;
}

body {
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    background-image: url('./media/images/wallpaperOrange.jpg');
}

div[class*="MuiDialog-paperFullScreen-"]{
    background-color: #ddd;
}
